.file_upload {
    height: 100%;
    /*border: 1px solid black;*/
    background-color: rgb(255, 224, 224);
    margin: 10px;
    padding: 10px;
    font-size: 1.5em;
    color: #ffe0e0;
}

.file_upload_button {
    background-color: #81d371;
    padding: 10px 20px;
}

.file_upload_button:hover {
    background-color: rgba(5, 159, 199, 0.15);
}

.file_upload_button:active {
    transform: scale(0.95);
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.15);
}

.file_upload_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid #ffffff;*/
}

table {
    background-color: #ffffff;
    border: 1px solid #888888;
    width: 50rem;
    border-collapse: collapse;
}
table tbody tr td {
    border: 1px solid #ffffff;
    text-align: center;
    color: black;
}

table tbody th {
    border: 1px solid #ffffff;
    text-align: center;
}

table tbody tr {
    background-color: #ffff7d;
}

.file_table_header {
    background-color: #81d371;
    color: #fff;
    text-align: center;
    width: 100%;
}

.file_upload_button_container {
    display: flex;
    justify-content: right;
}
